table.responsiveTable {
    width: 100%;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.015);

    thead th {
        background-color: #d8f2fb;
        padding: 0.9rem 0.75rem;
        color: black;
    }

    tbody {
        tr {
            border: none;
            border-bottom: 1px solid #f1f1f1;

            &:last-child {
                border-bottom: none;
            }
        }    
        td {
            white-space: normal;
            padding: 0.7rem 0.75rem;
        }
    }
}